body{
    max-width:1000px;
    margin: auto;
    font-family: 'italic', cursive;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    background-image: url("https://www.muralswallpaper.com/app/uploads/the-world-in-pastel-maps-plain-820x532.jpg");
}
    
    }
    
    .container{
        margin-top: 10px;
        margin-bottom: 10px;

    }
   button{
       color: red;
   }
    h3 {
        color:;
    }
    form {
        background-color:oldlace;
        margin-left:250px;
        margin-right:250px;
         }

    #submit-button{
        color:red;
        margin:10px;
    }
   
    
    
    

    
    
