body{
    max-width:1000px;
    margin: auto;
    font-family: 'italic', cursive;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    background-image: url("https://www.muralswallpaper.com/app/uploads/the-world-in-pastel-maps-plain-820x532.jpg");
}
    
    
    
    .container{
        margin-top: 10px;
        margin-bottom: 10px;

    }
   button{
       
       margin-bottom:15px;
       font-weight: bold;
       background-color:cadetblue;
       
   }
    h3 {
        color: green;
        letter-spacing:2px;
    }
    form {
        background-color:oldlace;
        margin-left:250px;
        margin-right:250px;
        padding:25px;
         }

    #submit-button{
        margin:10px;
        background-color: cadetblue;
        font-weight: bold;
        font-size:22px;
    }
    h1 {
        font-size: 60px;
        color: maroon;
        
    }
    #results {
        font-size: 25px;
        border-style: hidden;
        border-color:wheat;
        background-color:wheat;
        margin-left:200px;
        margin-right: 200px;
        
        
    }
    #count-down {
        color: red;
        

    }


       
   
    
    
    

    
    
